.navbar-custom {
    background-color: #1990FF;
}
.nav-link{
    color: #ffffff;
}
.nav-link a:hover{
    color: #000000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown  {
    border: none;
    outline: none;
    color: #1990FF;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.carousel-inner > .item {
    height: 1%;
}

body{
    font-family: Calibri;
    color: white;
}